.container{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    flex-basis:49%
}
.container > div>h1{
    text-align: center;
    color:#555;
    font-weight: 200;
}
.container>div:first-child{
    margin-right:1rem;
}
.container >form-field{
    width: 100%;
}
@media(max-width:768px){
    .container > div{
        flex-basis: 100%;
    }
    .container>div:first-child{
        margin-right:0rem;
        margin-bottom: 1rem;
    }
}